.{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-image: url('images/2.jpg');
background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat,sans-serif;
}
a{
color: white;
font-weight: bold;
text-decoration: none;
}
p{
  margin: 10px 0;
}
form{
  display: flex;
  flex-direction: column;
  width: 400px;
}
input{
  margin: 10px 0;
  padding: 10px;
  border: unset;
  border-bottom: 2px solid grey;
}
button{
  padding: 10px;
  background: grey;
  border: unset;
  cursor: pointer;
}
.msg{
    border: 2px solld yellow;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
